{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Home {% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col md-12">
      <div class="jumbotron p-3">
        <h2>
          <b>Producten</b> beheren
          <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#mymodal">Nieuw product toevoegen</button>
        </h2>


        <table class="table table-hover">
          <tr>
            <th>Product</th>
            <th>Aantal</th>
            <th>Minimum</th>
            <th>Acties</th>
          </tr>

          {% for row in products %}
            <tr class="{{'bg-danger text-white' if row.quantity < row.minimum }}">
              <td>{{row.name}}</td>
              <td>{{row.quantity}}</td>
              <td>{{row.minimum}}</td>
              <td>
                <a href="/update/{{ row.id }}" class="btn btn-success btn-xs" data-toggle="modal" data-target="#modaledit{{row.id}}">Wijzig</a>
                <a href="/delete/{{ row.id }}" class="btn btn-warning btn-xs" onclick="return confirm('Weet je zeker dat je dit product wilt verwijderen?')">Verwijder</a>
              </td>
            </tr>

            <div id="modaledit{{row.id}}" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Informatie wijzigen</h4>
                  </div>

                  <div class="modal-body">
                    <form action="{{ url_for('update') }}" method="POST">
                      <div class="form-group">
                        <label>Product:</label>
                        <input type="hidden" name="id" value="{{ row.id }}">
                        <input type="text" class="form-control" name="name" value="{{ row.name }}">
                      </div>

                      <div class="form-group">
                        <label>Aantal:</label>
                        <input type="number" class="form-control" name="quantity" value="{{ row.quantity }}">
                      </div>

                      <div class="form-group">
                        <label>Minimum:</label>
                        <input type="number" class="form-control" name="minimum" value="{{ row.minimum }}">
                      </div>

                      <div class="form-group">
                        <button class="btn btn-primary" type="submit">Wijzigen</button>
                      </div>
                    </form>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                  </div>
                </div>

              </div>
            </div>
            {% endfor %}
          </table>
        </div>



        <div id="mymodal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Product toevoegen</h4>
              </div>
              <div class="modal-body">

                <form action="{{ url_for('insert') }}" method="POST">
                  <div class="form-group">
                    <label>Product:</label>
                    <input type="hidden" name="id">
                    <input type="text" class="form-control" name="name">
                  </div>
                  
                  <div class="form-group">
                    <label>Aantal:</label>
                    <input type="number" class="form-control" name="quantity">
                  </div>
                  
                  <div class="form-group">
                    <label>Minimum:</label>
                    <input type="number" class="form-control" name="minimum">
                  </div>

                  <div class="form-group">
                    <button class="btn btn-primary" type="submit">Product toevoegen</button>
                  </div>
                </form>

              </div>


              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}